<a href="https://colab.research.google.com/github/Ravindra475/python-basics/blob/master/multivariable%20linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
from sklearn import metrics
# import matplotlib.pyplot as plt # for plotting

In [0]:
msd=pd.read_csv("students_placement_data.csv")
msd

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
msd.describe

<bound method NDFrame.describe of      Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]>

In [0]:
msd.describe(include="all")# to study  all stastics summary

           Roll No Gender  ... registered_for_ Placement_Training  placement status
count   117.000000    117  ...                                117               117
unique         NaN      2  ...                                  2                 2
top            NaN      M  ...                                yes        Not placed
freq           NaN     68  ...                                 67                78
mean     59.000000    NaN  ...                                NaN               NaN
std      33.919021    NaN  ...                                NaN               NaN
min       1.000000    NaN  ...                                NaN               NaN
25%      30.000000    NaN  ...                                NaN               NaN
50%      59.000000    NaN  ...                                NaN               NaN
75%      88.000000    NaN  ...                                NaN               NaN
max     117.000000    NaN  ...                                NaN               NaN

[11 rows x 9 columns]

In [0]:
msd.isna().any() # to find NA's

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
msd

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
X = msd[['inter_Diploma_percentage','SSC Percentage'	]].values

y= msd['B.Tech_percentage'].values

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
# Now apply linear regression model on training dataset
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
# to find the intercept of our model we use  intercept_
print("intercept=",model.intercept_)

intercept= -8.93757154642671

In [0]:
# To find  slope of our model we use coef_
print("slope=",model.coef_)

slope= [0.74767901 0.13815068]

In [0]:
#a=predict interpercentage
a=model.predict(X_test) 
a

array([59.48428235, 74.39237133, 47.70510932, 62.29059186, 62.07269608,
       38.58534424, 63.65735244, 61.03401875, 64.21328587, 69.64778895,
       69.47400295, 51.16069667, 72.0755656 , 68.16310069, 64.41857474,
       58.94306477, 61.57127722, 62.5781799 , 71.03915168, 63.13088105,
       66.63425342, 52.64568922, 69.41448084, 72.10369535])

In [0]:
# b=actual prediction
b=pd.DataFrame({'predicted':a.flatten(), 'Actual':y_test.flatten()})
b.head()

   predicted  Actual
0  59.484282   71.49
1  74.392371   81.10
2  47.705109   62.98
3  62.290592   68.70
4  62.072696   61.02